# Standard Normal Distribution - Lab

## Introduction

In the previous lesson, we looked at the formula and a few toy examples to explain an observation's standard score and data standardization for normally distributed data. This lab, will shall standardize and visualize some normal distributions before we see standardization's real impact in machine learning in upcoming lessons. 

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before-after standardization to visually inspect the results. 

## Let's get started

> A Z-score tells us “how many standard deviations above or below the mean.” Every time you obtain a Z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

**1. Load, visualize and give general comments on the dataset. Use pandas for loading and inspecting the data.**

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Read the yield data as a dataframe

In [7]:
yield_df = pd.read_csv("yield.csv")
yield_df.describe()

                 0
count  5000.000000
mean     42.407624
std       6.003697
min      21.931212
25%      38.371895
50%      42.352304
75%      46.458478
max      65.548170

In [35]:
# Your comments about the data here. 

#average yield/tree and median yield are quite close and tehre is some significant variation on a tree by tree basis

**2. Write a simple sentence to explain what does each value represent in this data?**

In [ ]:
# Your answer here

#each value represents the observed total weight of the apples harvested from a particular tree (at a certain time or in a season)

**3. What does the 3-sigma rule say about yields of trees ?**

In [9]:
# Perform any calculations necessary here
42.41 + 3*6
#42.41 - 3*6

60.41

In [23]:
# Write your answer here 

# 99% of trees yeilded between 24.41 lbs and 60.41 lbs

**4. Compute the Z-score for a tree yielding 35 pounds of apples. Interpret this Z-score.**

In [10]:
# Calculate z
(35-42)/6

-1.1666666666666667

In [3]:
# Interpret the result
#the tree that yielded exactly 35 lbs is yielding slightly less ths 1 standard deviation below than the averge 
#(i.e. 6.9lbs less than the average)

**5. Suppose a tree has a Z-score of 1.85. Interpret this Z-score. What is the yield of this tree?**

In [4]:
# Interpret the z score
 # the tree is producing 1.85x more yield than the average

In [11]:
# Calculate yield
(1.85*6) + 42

53.1

In [6]:
# What is the yield ?
#53 lbs

**6. Convert each tree’s yield is converted to a Z-score so that “new” derived variable is “Z-score for weight”. The units are still the apple trees. For the data set of all Z-scores:**
* What is the shape? 
* The mean? 
* The standard deviation?

In [12]:
yield_df.head()

           0
0  39.741234
1  39.872055
2  44.331164
3  46.600623
4  40.694984

In [13]:
# Give your solution here 
yield_df['Z-score for weight'] = (yield_df['0']-42)/6

In [14]:
yield_df.head()

           0  Z-score for weight
0  39.741234           -0.376461
1  39.872055           -0.354658
2  44.331164            0.388527
3  46.600623            0.766771
4  40.694984           -0.217503

In [ ]:
# Your observations

## Summary 

In this lab, you practiced your knowledge on the standard normal distribution!